<router-outlet></router-outlet>

<div class="container-fluid">
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <img src="http://sealy-test.ddns.net:8090/images/cheil/cheil-logo.png" width="100px" height="40px" />
      <hr>
      <h3>Frontend</h3>
      <h4>Autor: Francisco Sealy</h4>

      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title"> Filtros <fa-icon [icon]="faFilter"></fa-icon></h5>
          <div class="form-group">
            <label for="categoryFilter">Categoría</label>
            <select class="form-control form-control-sm" [(ngModel)]="category">
              <option value="0">-- Ninguno --</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="scoreFilter">Puntuación</label>
            <select class="form-control form-control-sm" [(ngModel)]="qualify">
              <option value="0">-- Ninguno --</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <br>
          <a href="#" class="btn btn-primary" (click)="filtrar()">Filtrar</a>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="col-md-8">
      Precio: <button type="button" class="btn btn-success btn-sm"><fa-icon
          [icon]="order === 'A' ? faArrowUp : faArrowDown" (click)="orderPrice()"></fa-icon></button>
      <mat-grid-list cols="1" rowHeight="240px">
        <mat-grid-tile *ngFor="let s of list">
          <mat-card class="my-card">
            <mat-card-content>
              <div class="row">

                <div class="col-md-12 d-flex text-left">
                  <div class="col-md-3">
                    <img src={{s.picture1}} alt="" class="img-fluid" />
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{s.hotelName}}</h5>
                      <p class="card-text"><span class="hotel-text">Categoría:</span> <star-qualification
                          [points]="s.category"></star-qualification>
                        &nbsp;&nbsp;
                        <span class="hotel-text">Puntuación:</span><span class="my-badge" href="#">{{s.scorePoint}}</span>
                      </p>
                      <hr>
                      <span class="hotel-text">Precio:</span> <span class="price">{{s.price}}</span>$
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
