mad-grid-tile {
  border: 1px solid #000;
  width: 90%;
  min-height: 100px;
  max-height: 100px;
  margin: 25px;
}

.my-card {
  border: 1px solid #505050;
  width: 100%;
  height: 230px;
  margin-top: 10px;
}

mat-card-title {
  font-weight: bold;
  color: #3899c2;
  display: inline-block;
}

mat-card-content {
  display: inline-block;
}

mat-card {
  background-color: #e4e4e4;
  border: 1px solid #505050;
}

mat-card:hover {
  background-color: #356fa2;
  border: 2px solid #505050;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-left: 0;
  justify-content: left;
}

.align-left {
  margin-left: 0;
  justify-content: left;
}

.border {
  border: 1px solid #000;
}

.price {
  font-size: 20pt;
  color: #1e6c27;
  font-weight: bold;
}

h5 {
  color: #515151;
  font-weight: bold;
  font-size: 18pt;
}

.hotel-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 15pt;
}

h3 {
  size: 10pt;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  size: 6pt;
  font-family: "Times New Roman", Times, serif;
}

.card {
  width: 100%;
}

.img-fluid,
.img img-fluid {
  height: 100%;
}

@media only screen and (max-width: 550px) {
  .img-fluid,
  .img img-fluid {
    min-height: 200px;
  }
}

@media only screen and (max-width: 400px) {
  .img-fluid,
  .img img-fluid {
    min-height: 160px;
  }

  .my-card {
    border: 1px solid #505050;
    width: 90%;
    height: 90%;
    margin-top: 10px;
  }

  mad-grid-tile {
    border: 1px solid #000;
    width: 60%;
    margin: 25px;
  }

  h5 {
    font-size: 9pt;
  }
  .hotel-text {
    font-size: 7pt;
  }
  .card {
    min-width: 150px;
    min-height: 165px;
  }

  .my-badge {
    background-color: #356fa2;
    color: #fff;
    font-size: 9pt;
    font-weight: bold;
    padding: 4px 6px 4px 6px;
    border-radius: 15px;
    margin-left: 10px;

  }

  .price {
    font-size: 15pt;
    color: #1e6c27;
    font-weight: bold;
  }
}

.input-group-text {
  background-color: #1e6c27;
}

.my-badge {
  background-color: #356fa2;
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
  padding: 5px 8px 5px 8px;
  border-radius: 15px;
  margin-left: 10px;

}
