ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  margin-left: 20px;
  vertical-align: text-top;
}

li {
  display: inline-block;
  color: #ffa64d;
}
